@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
@font-face {
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

main {
    background-color: hsla(0, 0%, 24%, 0.2);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top, center;
    background-size: 100%;
    background-blend-mode: color;   
    color: rgba(0,0,0,1);
    color: black;
    font-family: Arial, sans-serif;
}

#interface {
    width: 900px;
    background-color: #ffffff;
    margin: -20px auto 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,.6);
    padding: 30px;
}

p {
    text-align: justify;
    text-indent: 50px;
}

a {
    text-decoration: none;
    color: #4e4e4e;
}

a:hover {
    text-decoration: underline;
}

#cabecalho #icone {
    position: absolute;
    left: 980px;
    top: 50px;
}

#cabecalho {
    border-bottom: 1px #606060 dotted;
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0 90px;
}

#cabecalho h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 30pt;
    color: #282828;
    text-shadow: 1px 1px 1px rgba(0,0,0,.1);
    padding: 0;
    margin-bottom: 0;
}

#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    color: #afaeae;
    font-size: 16pt;
    padding: 0;
    margin-top: 0;
}

/* Formatação do menu */

#menu {
    display: block;
}

#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 500px;
}

#menu li {
    display: inline-block;
    background-color: rgba(128,128,128);
    padding: 10px;
    margin: 2px;
    border-radius: 4px;
    transition: 2s;
}

#menu li:hover {
    background-color: gray;
    transition: 1s;
}

#menu h1 {
    display: none;
}

#menu a {
    color: #ffffff;
    text-decoration: none;
}

#menu a:hover {
    color: rgba(28,28,28,.5);
}

/* Formatação de imagens com legendas */

.foto-legenda {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}

.foto-legenda img {
    width: 100%;
    height: 100%;
}

.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

.foto-legenda:hover figcaption {
        opacity: 1;
}

.foto-legenda p {
    position: absolute;
    left: -40px;
    top: 40px;
}

/* Formatação do corpo principal */

#corpo {
    display: block;
    width: 500px;
    float: left;
    border-right: 1px dotted #8d8c8c;
    padding-right: 15px;
}

#noticia-principal h2 {
    font-size: 13pt;
    color: #404040;
    background-color: #dddddd;
    padding: 4px 0 4px 10px;
    margin: 10px 0 10px 0;
    border-radius: 5px;
}

#cabecalho-artigo h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #bfbebe;
    background-color: #3d3d3d;
    margin-bottom: 0;
    padding: 10px;
    border-radius: 2px;
}

.direita {
    text-align: right;
}

#cabecalho-artigo h2 {
    font-size: 13pt;
    margin-top: 0;
    background-color: rgba(162, 161, 184, 0.11);
}

#cabecalho-artigo h3 {
    font-size: 12px;
    color: #606060;
}

/* Formatação da tabela */

#tabelaspec {
    border: 1px solid #c1bfbf;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
}

#tabelaspec td {
    border: 1px solid #c1bfbf;
    padding: 10px;
    text-align: right;
}

#tabelaspec td.ce {
    color: #ffffff;
    background-color: #606060;
    vertical-align: top;
    font-weight: bold;
}

#tabelaspec td.cd {
    background-color: #9c9c9c;
}

#tabelaspec caption {
    color: #3e3e3e;
    font-size: 12pt;
    font-weight: bold;
}

#tabelaspec caption span {
    display: block;
    float: right;
    color: #1a1a1a;
    font-size: 8pt;
    margin-top: 10px;
}

/* Formatação do aside */

#lateral {
    display: block;
    width: 350px;
    float: right;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

#lateral h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #787878;
    margin-top: 0;
}

#lateral h2 {
    background-color: #606060;
    font-size: 13pt;
    color: #d5d7de;
    padding: 8px;
}

/* Formatação do footer */

#rodape {
    clear: both;
    border-top: 1px dotted #8d8c8c;
}

#rodape p {
    text-align: center;
}

video {
    border-radius: 8px;
    width: 500px;
    margin-bottom: 11px;
}

#filme2 {
    width: 350px;
}